#login_form{
    text-align: center;
}
.middle_login{
    height:700px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    align-content:center;

}
.middle{
    height:700px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    align-content:center;

}
.loginfont{ 
    padding-right: 340px;
    padding-bottom: 30px;
    font-size: 23px;
    font-weight:bold;
}

.idfont{
    padding-right: 355px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pwfont{
    padding-right: 340px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.idpw{
    display: block;
    margin-left :auto ;
    margin-right :auto ;
    width: 400px;
    height: 45px;
}


.loginbutton{
    background-color: black;
    color: white;
    width: 240px;
    height: 54px;
    margin-top: 50px;
    border:1px solid darkgrey;
    border-radius:5px;

}

.join{
    background-color: white;
    width: 240px;
    height: 54px;
    margin-top: 10px;
    border:1px solid darkgrey;
    border-radius:5px;

}

.inputid{
    width: 300px;
}